<h2> Reserve Margin Results</h2>
<p> A sumary of the reserve margin results across the modelled years is given below: </p>
{{ rsv_table }}
<p> The minimum reserve margin occurred with the grid operating with <i>{{ min_rsv }}</i>% remaining capacity at the timestamp: <i>{{ min_time }}</i>.</p>
<p> For the week around this time the grid operated as follows. </p>
<p> <i>{{ animated_gif }}</i></p>
<p> Total generation throughout this week was: </p>
<p> <i>{{ gen_slice }}</i></p>
<h2> Total Yearly Capacity and Generation</h2>
<p> For the simulated period, yearly capacity and generation is oultined in the following plot: </p>
<p> <i>{{ cap_plot }}</i></p>
<h2>Breakdown of Transmission Between Regions</h2>
{{ trans_pivot_table }}
<h2> Assumptions </h2>
{{ simple_assumptions }}
<br>
{{ list_assumptions }}
<br>
{{ regional_RET }}
